/* hr style 1 */
.hrstyle-one { 
  border: 0; 
  height: 1px; 
  background: #333; 
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
/* hr style 2 */
.hrstyle-two { 
  border: 0; 
  border-bottom: 1px dashed #ccc; 
  background: #999; 
}
/* Navigation Bar */
.navigation-bar {
    max-height: 10%;
    max-width: 100%;
}
.navigation-bar ul {
    padding: 0px;
    text-align: center;
}
.navigation-bar li {
    display: inline;
}
.navigation-bar li a {
    color: gray;
    font-size: 30px;
    font-family: Zapf Chancery, cursive;
    text-decoration: none;
    padding-right: 30px;
}
.navigation-bar li a:hover {
    color: blue;
}
/* -- Logo -- */
.logo {
  float: center;
  max-width: 80px;
  max-height: 80px;
  margin-bottom: -25px;
}
/* -- Header -- */
.header {
    color: black;
    font-size: 20px;
    font-family: 'Lobster', Georgia, Times, serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
/* -- Margins -- */
.margin {
    color: gray;
    font-size: 16px;
    font-family: Times New Roman, serif;
    text-decoration: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
/* -- Main Pic -- */
.main-pic {
  text-align: center;
  position: relative;
  margin: auto;
  padding-top: 25px;
  padding-left: 50px;
}
/* -- List -- */
.list {
  max-width: 100%;
}
.list ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.list li {
  list-style-type: none;
  padding: 5px 10px 5px 10px;
}
.list li a {
  color: gray;
  font-size: 16px;
  font-family: Times New Roman, serif;
  text-decoration: none;
}
.list li a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
.list li a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
/* -- Title -- */
.title {
  position: relative;
  color: gray;
  font-size: 20px;
  font-family: 'Lobster', Georgia, Times, serif;
  text-align: center;
  text-decoration: none;
}
/* -- Schedule container -- */
.schedule-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}
/* -- Schedule Table -- */
table.schedule {text-align: center; border-right:1px solid #ccc; border-bottom:1px solid #ccc;}
table.schedule th {font-size: 16px; color: white; font-family: 'Lobster', Georgia, Times, serif; text-align: center; background:#4d94ff; padding:5px; border-left:1px solid #ccc; border-top:1px solid #ccc; }
table.schedule td {font-size: 14px; color: #5c5c3d; font-family: Times New Roman, serif; text-align: center; padding:5px; border-left:1px solid #ccc; border-top:1px solid #ccc; }
table.schedule td a {font-size: 12px; color: #5c5c3d; font-family: Times New Roman, serif; text-align: center; text-decoration: none; }
table.schedule td a:hover {color: blue; background-color: transparent; text-decoration: none; }
table.schedule td a:active {color: yellow; background-color: transparent; text-decoration: none; }
/* -- Next & previous buttons -- */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: auto;
  margin-top: -12px;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* -- Position the "next button" to the right -- */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* -- On hover, add a black background color with a little bit see-through -- */
.prev:hover, .next:hover {
  color: blue;
  background-color: rgba(0,0,0,0.8);
}
